*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.clear{
  clear: both;
}


.bloc1, .bloc2{
  width: 250px;
  min-height: 250px;
  border: 5px solid black;
  background-color: rgb(185, 188, 160);
  float: left;
  margin: 10px 5px 10px 10px;
  text-align: center;
}
